body {
  font-family: 'Arial', sans-serif;
  color: hsl(0, 0%, 10%);
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(assets/library_of_wonders.jpg);
    background-size:cover;
    background-position: center;
    opacity: 0.9;
    z-index: -100;
}

/* Nav */
.navBar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: hsl(0, 0%, 10%);
  display: flex;
  gap: 20px;
  z-index: 100;
}

.navBar a {
  color: white;
  text-decoration: none;
  padding: 20px;
}

.navBar a:hover {
  text-decoration: underline;
  background-color: hsl(0, 0%, 20%);
  height: 100%;
}

/* Heading */
.headBox{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 60px;
}

.headBox h1 {
  color: hsl(0, 0%, 100%);
  font-size: 2.5rem;
  text-align: center;
  text-shadow: 3px -1px 30px hsl(0, 60%, 40%);
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.headBox p {
  color: white;
  text-align: center;
}

/* Search Box */
.searchBox {
  display: flex;
  justify-content: center;
  margin: 10px 0 20px;
}
.searchBox input {
  padding: 0.7rem;
  border: 1px solid #ddd;
  border-radius: 0.4rem;
  min-width: 20rem;
  outline: none;
  font-size: 1rem;
}
.searchBox input:focus {
  border: 2px solid hsl(0, 60%, 40%);
}

/* Cards for Books, Checked Books */
.cardsContainer, .checkedContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.bookCard, .checkedBook {
  width: 15rem;
  background: hsla(36, 43%, 66%, 0.85);
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 2px 1px 3px black;
  text-align: center;
  transition: 0.2s ease;
  color: hsl(0, 0%, 0%);
  text-shadow: 2px 1px 50px white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.bookCard:hover, .checkedBook:hover {
  transform: scale(1.03);
}

.bookCard img, .checkedBook img {
  width: 10rem;
  height: auto;
  border-radius: 8px;
  margin-bottom: 0.5rem;
}

.bookCard h3, .checkedBook h3 {
  font-size: 1.5rem;
  margin: 0 0 1rem;
  padding: 5px;
}
.bookCard p, .checkedBook p {
  font-weight: bold;
}

/* Detail buttons */
.detailButtons{
  background-color: hsl(22, 61%, 25%);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}
.detailButtons:hover{
  background-color: hsl(0, 60%, 40%);
}


/* Selected Book */
.selectedBook {
  margin: 2rem auto;
  padding: 2rem;
  max-width: 70%;
  border-radius: 1rem;

  background: hsla(36, 43%, 66%, 0.85);
  border-radius: 8px;
  box-shadow: 1px 1px 3px black;
  text-align: center;
  text-shadow: 2px 1px 50px white;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}
.selectedBook #highlight {
  display: flex;
  flex-direction: column;
  width: 100rem;
  font-size: 1.2rem;
}
.selectedBook img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 1px 1px 5px black;
}
#details {
  font-size: 1.1rem;
}

/* Check button, Return Button */
.checkButtons{
  background-color: #28a745;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s ease;
}

.checkButtons:hover{
  background-color: #218838;
}


/* Forms */
.formContainer {
  box-shadow: 0 4px 10px hsla(0, 0%, 0%, 0.1);
  max-width: 500px;
  width: 100%;
  margin: 4rem auto;
  padding: 2rem;
  border-radius: 1rem;
  background: hsla(36, 43%, 66%, 0.85);
  border-radius: 8px;

  text-shadow: 2px 1px 50px white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 10px 20px ;
  gap: 3rem;
}
form label {
  font-size: 1.2rem;
}
form input {
  padding: 0.7rem;
  border: 1px solid #ddd;
  border-radius: 0.4rem;
  width: 90%;
  outline: none;
  font-size: 1rem;
}
form input:focus {
  border: 2px solid hsl(0, 60%, 40%);
}
.formButtons{
  background-color: hsl(22, 61%, 25%);
  color: white;
  border: none;
  padding: 1rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.1rem;
}
.formButtons:hover{
  background-color: hsl(0, 60%, 40%);
}


/* me */
.welcomeContainer {
  background-color: hsla(0, 0%, 100%, 0.6);
  background: hsla(36, 43%, 66%, 0.70);
  padding: 2rem;
  text-shadow: 2px 1px 10px hsl(0, 0%, 98%);
  text-align: center;
  font-weight: bold;
  color: hsl(0, 0%, 10%)
}
.welcomeContainer h4 {
  text-align: center;
  font-size: 1.7rem;
  margin-bottom: 0px;
}
#accountMessage {
  color: red;
  text-align: center;
  margin-top: 4rem;
  padding: 1rem;
  font-size: 1.5rem;
  background-color: rgba(250, 235, 215, 0.898);
}